@use './base.scss' as *;
@use './foundations/functions' as *;

.header--nav {
  display: flex;
  gap: rem(16);
  padding: rem(16);
  background-color: var(--grisFonce);
}

.inventaire {
  display: flex;
  gap: rem(20);
  flex-wrap: wrap;
  margin-bottom: rem(20);
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: rem(12) rem(72);
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 700;
}

.header__TopLeft {
  display: flex;
  gap: rem(32);
}

.header__TopRight {
  display: flex;
  gap: rem(20);

  & > button {
    background-color: #00000000;
    border: none;
    color: white;
    font-family: Montserrat;
    font-size: rem(15);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: rem(8);
  }

  .LoginIcon {
    width: rem(20);
    height: rem(20);
  }

  .UserIcon {
    width: rem(20);
    height: rem(20);
  }
}

.header__bottom {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: rem(20) rem(112);

  & > .header__bottomLeft {
    display: flex;
    align-items: center;
    height: rem(72);
    width: auto;
    gap: 100px;

    & > .header__search {
      display: flex;

      & > .header__shearch-categories {
        font-family: Montserrat;
        border: none;
        display: flex;
      }

      & > .header__inputSearch {
        font-family: Montserrat;
        border: none;
      }

      & > .header__buttonShearch {
        font-family: Montserrat;
        border: none;
      }
    }
  }

  & > .header__bottomRight {
    display: flex;
    align-items: center;
    gap: rem(24);

    & > .header__panier {
      width: rem(52);
      height: rem(52);
      border: none;
    }

    & > .header__profile {
      width: rem(52);
      height: rem(52);
      border: none;
    }
  }
}
