@use './base.scss' as *;
@use './foundations/functions' as *;

.header--nav {
  display: flex;
  gap: rem(16);
  padding: rem(16);
  background-color: var(--grisFonce);
}

.inventaire {
  display: flex;
  gap: rem(20);
  flex-wrap: wrap;
  margin-bottom: rem(20);
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: rem(12) rem(72);
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 700;
}

.header__TopLeft {
  display: flex;
  gap: rem(32);
}

.header__TopRight {
  display: flex;
  gap: rem(20);

  & > button {
    background-color: #00000000;
    border: none;
    color: white;
    font-family: Montserrat;
    font-size: rem(15);
    text-transform: uppercase;
    font-weight: 700;
  }
}
